.container {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("../Assets/background2.jpg");
  background-position: 33% 67%;
  background-repeat: no-repeat;
  background-size: cover;
}

.input1 {
  padding: 7px;
  border: 1px solid #959595;
  border-radius: 5px;
  width: 25%;
  margin-right: 10px;
}

.input1:focus {
  outline: none;
}

.input2 {
  padding: 7px;
  border: 1px solid #959595;
  border-radius: 5px;
  width: 15%;
  margin-right: 10px;
}

.input2:focus {
  outline: none;
}

.headerBtn {
  margin-left: 10px;
  background-color: #000;
  border: 1px solid #000;
  color: #fff;
  border-radius: 5px;
  padding: 8px;
}

.headerBtn:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
  transition: 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding: 8px;
}

@media (max-width: 1000px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .headerLogo2 {
    display: none;
  }
}

@media (max-width: 575.98px) {
  .input1 {
    padding: 7px;
    border: 1px solid #959595;
    border-radius: 5px;
    width: 40%;
    margin-right: 10px;
  }

  .input2 {
    padding: 7px;
    border: 1px solid #959595;
    border-radius: 5px;
    width: 30%;
    margin-right: 5px;
  }

  .headerBtn {
    margin-left: 10px;
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
    border-radius: 5px;
    padding: 8px;
  }
}
